@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-weight:400;
    line-height: 100%;
}

body{
    width: 100vw;
}

.grey-1{
    color:#727272;
}
.grey-2{
    color:#727272;
}
.grey-3{
    color:#808080;
}
.white-1{
    color:#c2c2c2;
}
.green-1{
    color:#4FA368;
}
.red-1{
    color:#a95454;
}
.default-1{
    color:#c2c2c2;
    font-family: "Poppins", sans-serif;
}
.wrapper:nth-of-type(1){
    background: url('../assets/Gradient\ \(1\).png');
    background-size: cover;
    min-height: 100vh;
    padding:20px;
}
.wrapper .intro {
    font-size: 2.5rem;
}

.card{
    border-radius: 20px;
    font-size: .6rem;
    padding: 10px;
}

.frosted{
    background-color: rgba(255, 255, 255, .075);
    backdrop-filter: blur(5px);
    border: 4px solid #bdbdbd0e;
    
}
.wrapper .balancecard{
    padding:10px;
    margin-top:20px;
}

.balancecard h2{
    font-size:1.5rem;
    margin-bottom: 10px;
}

.balancecard .curbal{
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 10px;
    /* text-align: center; */
}

.balancecard .sub-balance{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.sub-balance .upi span, .cash span{
    display: block;
    text-align: center;
    margin: 0;
    padding:0;
    line-height: 100%;
    font-size: 1.5rem;
}

.sub-balance .upi span:nth-of-type(1), .cash span:nth-of-type(1){
    margin-bottom: 2px;
}

.quote-box{
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.quote-box .prog{
    text-align: center;
    padding-bottom: 5px;
}

.quote-box .quote{
    font-size:1.5rem;
    line-height: 150%;
    margin: 10px 0;
    min-height: 8rem;
    /* background: rgb(33,33,33);
    background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(42,42,42,1) 35%, rgba(85,85,85,1) 100%); */

}
.quote-box .quote{
    position:relative;
    z-index: 10;
}
.quote-box .quote span{
    display: block;
}

.quote .credits{
    font-size: .9rem;
    /* margin-top: auto; */
    position: absolute;
    bottom:10px;
    /* margin: 10px 0; */
}

.quote-box img{
    position: absolute;
    height:6rem;
    bottom: 0;
    right: 0;
    z-index: 20;
}




