.default-1 {
  color: #c2c2c2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #1f1f24;
  min-height: 100vh;
  padding: 20px;
}
.wrapper .noise {
  background: linear-gradient(20deg, rgb(27, 27, 27), transparent), url(https://grainy-gradients.vercel.app/noise.svg);
}
.wrapper .overlay {
  background: rgb(34, 34, 34);
}

.wrapper .intro {
  font-size: 2rem;
}

.card {
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 10px;
}

.wrapper .balancecard {
  padding: 20px;
  margin-top: 40px;
}

.balancecard h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.balancecard .curbal {
  font-size: min(4rem, 14vw);
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.balancecard .sub-balance {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.balancecard .sub-balance .upi {
  margin-right: 40px;
}
.sub-balance .upi span,
.cash span {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-size: 1.2rem;
}

.sub-balance .upi span:nth-of-type(1),
.cash span:nth-of-type(1) {
  margin-bottom: 2px;
}

.quote-box {
  margin-top: 40px;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.quote-box .prog {
  text-align: center;
  padding-bottom: 5px;
  font-size: 1rem;
}

.quote-box .quote {
  font-size: 1.5rem;
  line-height: 150%;
  margin-top: 15px;
  min-height: 10rem;
  /* background: rgb(33,33,33);
  background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(42,42,42,1) 35%, rgba(85,85,85,1) 100%); */
}

.quote-box .quote {
  position: relative;
  z-index: 10;
  padding-top: 15px;
  margin-right: 10%;
  background: linear-gradient(145deg, #35353f, #313136);
  box-shadow: none;
  border: 0px solid rgb(51, 51, 51);
}

.quote-box .quote span {
  display: block;
}

.quote .credits {
  font-size: 1.2rem;
  /* margin-top: auto; */
  position: absolute;
  bottom: 15px;
  /* margin: 10px 0; */
}

.quote-box img {
  position: absolute;
  height: 8rem;
  bottom: 0;
  right: -30px;
  z-index: 20;
  filter: drop-shadow(5px 5px 5px #0f0f0f);
}

.add-trans-box {
  min-height: 200px;
  min-width: 70%;
  max-width: 95%;
  z-index: 950;
  padding: 20px;
  font-size: 3rem;
}
.add-trans-box .sec-1 {
  margin-bottom: 20px;
}
.add-trans-box .btns-1 {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-trans-box .btns-1 div {
  display: inline-block;
  padding: 10px;
  height: 3rem;
  width: 3rem;
  border-radius: 200px;
  display: inline-block;
  background-color: #1c1c20;
  box-shadow: 2px 2px 5px #0e0e11, -2px -2px 5px #303037;
  transition: all 0.1s ease;
  border: 2px solid rgba(0, 0, 0, 0.336);
}
.add-trans-box .btns-1 div.plus.active {
  background-color: #2b3b32;
  box-shadow: 2px 2px 5px #1f2a24, -2px -2px 5px #374c41;
}
.add-trans-box .btns-1 div.minus.active {
  background-color: #612828;
  box-shadow: 2px 2px 5px #451c1c, -2px -2px 5px #702e2e;
}
.add-trans-box .btns-1 div svg {
  transform: translateY(-70%);
}
.add-trans-box input {
  display: inline-block;
  color: #c2c2c2;
  background-color: #1c1c20;
  border: 0px solid rgb(110, 110, 110);
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 3rem;
  box-shadow: inset 4px 4px 0 #0e0e11, -4px -4px 0 #303037;
}
.add-trans-box .btns-2 {
  margin-top: 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}
.add-trans-box .btns-2 div,
.add-trans-box .btns-2 button {
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  background-color: #1c1c20;
  border: 0;
  color: #c2c2c2;
  font-family: Host Grotesk;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 0 #0e0e11, -2px -2px 0 #303037;
}/*# sourceMappingURL=home.css.map */